name: JSONLab CI

on: [push, pull_request]

jobs:
  octave_test:
    name: Octave tests
    strategy:
      # provided octave versions: ubuntu-20.04 = 5.2, ubuntu-22.04 = 6.4, macos-11 = 8.1, windows-2019 = 7.3
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, windows-2019]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: |
          [[ "$RUNNER_OS" == "Linux" ]] && sudo apt-get update && sudo apt-get install -y octave
          [[ "$RUNNER_OS" == "macOS" ]] && brew install octave
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            curl --retry 3 -kL http://cdimage.debian.org/mirror/gnu.org/gnu/octave/windows/octave-7.3.0-w64-64.7z --output octave_7.3.0.7z
            7z x octave_7.3.0.7z -ooctave -y
            echo "$PWD/octave/octave-7.3.0-w64-64/mingw64/bin" >> $GITHUB_PATH
          fi
      - name: Run octave test
        run: |
          octave-cli --version
          octave-cli --eval "addpath(pwd);cd test;run_jsonlab_test"
          octave-cli --eval "addpath(pwd);cd examples; demo_jsonlab_basic; jsonlab_selftest"

  matlab_test:
    name: MATLAB test
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-11, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1
      - name: Run MATLAB test
        uses: matlab-actions/run-command@v1
        with:
          command: addpath(pwd);cd test;run_jsonlab_test
      - name: Run MATLAB examples
        uses: matlab-actions/run-command@v1
        with:
          command: addpath(pwd);cd examples; demo_jsonlab_basic; jsonlab_selftest
